

.header{
  margin: 50px 25px 0 0;
  display: inline-block;
    text-align: center;
    position: center;
}

.text-center{
    text-shadow: #555e64;
    letter-spacing: 0.8px;
    /*text-shadow: 0 9.36px 6.896px #c4b59d,0 -1px 1px #fff;*/
}

.text-center2{
    font-weight: bold;
}

.f{
    color: dodgerblue;
}

.w{
    color: red;
}

.o{
    color: orange;
}

.y{
    color: limegreen;
}

img.ManaTube_left{
    width: 100px;
    margin-right: 20px;

}

img.ManaTube_right{
    width: 100px;
    margin-left: 20px;
}

img.ManaTube_left:hover{
    cursor: pointer;
    animation: hurueru .3s  infinite;
}

img.ManaTube_right:hover{
    cursor: pointer;
    animation: hurueru .3s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.text-center{
    display: inline-block;
    text-align: center;
    font-family: fantasy;
}

.text-center2{
    display: block;
    text-align: center;
    vertical-align: 100px;
    position: relative;
    top: -30px;
}


.sample input {
  display: none;
}
.sample label{
  display: block;
  float: left;
  cursor: pointer;
  width: 31%;
  height: 100px;
  margin: 1% 1%;
  padding: 12px 0;
  border-right: 1px solid #abb2b7;
  border-radius: 10px;
  background: #bdc3c7;
  color: #555e64;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  transition: .2s;
}
.sample input[type="radio"]:checked + label{
  border-radius: 10px;
  background-color: #a1b91d;
  color: #fff;
}

.searchbutton{
  text-align: center;
  color: red;
  display: none;
}